{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "module": { "type": "es6" },
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "baseUrl": "./"
  },
  "minify": false
}
